.square {
    height: 130px;
    width: 130px;
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    vertical-align: middle; 
    line-height: 130px; 
    box-sizing: border-box;
   border-radius: 4px;
   transition: background-color 0.3s, transform 0.3s;

}
.square:hover {
  background-color: #e0e0e0; /* Darker shade of white */
}